*{padding: 0;margin: 0; font-size: 100%; font-family: 'Didact Gothic', sans-serif; box-sizing: border-box;}
a{ text-decoration: none; cursor: pointer;}

/* HELPERS */

.backgprincipal {background-color:#cc9966}
.backgwhite {background-color: #ffffff}
.backggrey {background-color: #cccccc}

/* DIAGONAL BOX */


/* CONTAINER */

.content {
    background:linear-gradient(to right, #cccccc, #ffffff);
    height: 800px;
    width:  100%;
}

/* LOGO */

.logo{
    display: flex;
    margin-right: 0;
    width: 100px;
    height: 100px;
}

.logo img{
    height: 110px;
    padding: 30px 40px;
    padding-right: 10px;
}

.logo h1{
    font-size: 1.9rem;
    padding-top: 35px;
    line-height: 25px;
    height: 0;
    width: 0;
}

.logo  p{
    padding: 60px 10px;
    height: 0;
    font-size: 0.90rem;
}

.logo h1 span {
    color: #cc9966;
}

/* MORE INFO */

.info {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100px;
    background-color: red;
}

.info p {
    height: 10px;
    text-align: end;
    padding: 15px 40px;
    width: 0px;
}

.info h2 {
    border-top: 0;
    text-align: end;
}









